body {
    background-color: #2351dc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
    background-color: #1D42B3;
    max-width: 200px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
}
input {
    color: #122A73;
    min-width: 100px;
    max-width: 100px;
    transform: scale(1.7);
    font-size: 15px;
    text-align: center;
    border: 0px;
    border-radius: 20px;
}
p { 
    color: #122A73;
    background-color: #2351dc;
    min-width: 100px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-shadow: 1px 1px #0C1C4D;
    border-radius: 20px;
}
button {
    background-color: #122A73;
    width: 25%;
    height: 35px;
    min-width: 100px;
    max-width: 100px;
    border: 0px;
    border-radius: 20px;
}
button:hover {
    background-color: #0C1C4D;
}
